.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-menu {
  background-color: #232228;
}

.red-dead-orange {
  color: #c74e2e;
}

.red-dead-yellow {
  color: #e6aa3c;
}

.red-dead-green {
  color: #9f9e7d;
}

.red-dead-blue {
  color: #2c3f7d;
}

.red-dead-purple {
  color: #55376b;
}

.character-bg {
  cursor: pointer;
  background-color: #26252b;
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
}